body {
    font-family: Arial, sans-serif;
    padding: 0;
    background-color: #f2f2f2; /* 设置浅灰色背景 */
}

header {
    background-color: transparent; /* 设置顶部的背景为透明 */
    color: #fff;
    display: flex;
    align-items: center;
    padding: 10px 12px;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 999;
}

#icons {
    display: flex;
    align-items: center;
}

#location-icon i,
#chat-icon i {
    font-size: 24px;
    cursor: pointer;
    background-color: #f2f2f2; /* 添加底色 */
    border-radius: 50%; /* 设置圆形边角 */
    padding: 10px; /* 添加内边距 */
    color: #333; /* 设置图标颜色 */
    margin: 0 15px; /* 增加图标间距 */
}

#location-text {
    font-weight: bold;
    color: black;
    display: flex; /* 横向显示 */
    align-items: center; /* 垂直居中 */
    margin-right: 15px; /* 添加右侧间距，离地标近一点 */
}

.small-text {
    font-size: 14px; /* 缩小字号 */
}

#location-address {
    font-size: 12px;
    color: #333; /* 设置文本颜色为灰色 */
    text-align: center;
    margin-top: 5px;
}

main {
    padding: 10px;
}

#search-bar {
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin-left: 10px;
    background-color: rgba(240, 240, 240, 0.8); /* 设置透明浅灰色背景 */
    border-radius: 20px; /* 添加更圆的边角 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 添加凸显的阴影效果 */
}

#search-input {
    flex-grow: 1;
    padding: 10px;
    border: none;
    outline: none;
    background-color: transparent;
    color: #333;
}

#search-button {
    padding: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    color: #333;
}

#search-button i {
    font-size: 20px;
}

#search-button:hover {
    background-color: #f2f2f2;
}

#location-text-icon {
    display: flex; /* 横向显示 */
    align-items: center; /* 垂直居中 */
}

#location-text-icon i {
    font-size: 30px; /* 增大地标图标的大小 */
    color: black; /* 设置地标图标颜色为黑色 */
    margin-right: 5px; /* 添加右侧间距 */
}

#location-text-icon {
    font-weight: bold;
    display: flex; /* 横向显示 */
    align-items: center; /* 垂直居中 */
    white-space: nowrap; /* 强制不换行 */
    flex-wrap: nowrap; /* 强制不换行 */
}

#location-text-icon span {
    color: black !important; /* 设置 "合肥" 字体颜色为黑色 */
    display: inline; /* 强制横向显示 */

}

.small-text {
    color: black;
    font-size: 14px;
}

/* 在媒体查询中进一步调整手机屏幕上的样式 */
@media (max-width: 600px) {
    #location-text-icon i {
        font-size: 24px; /* 进一步适应小屏幕 */
    }

    #location-text {
        margin-right: 2px;
    }
}

/*---------------------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

/* 底部导航栏样式 */
.bottom-navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #333; /* 底部导航栏的背景颜色 */
    color: #fff; /* 文本颜色 */
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px; /* 底部导航栏的高度 */
}

/* 导航项样式 */
.nav-item {
    text-align: center;
    text-decoration: none;
    color: inherit;
    flex-grow: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.2s ease, font-size 0.2s ease; /* 添加过渡效果 */
}

.nav-item i {
    font-size: 24px; /* 图标大小 */
    transition: transform 0.2s ease; /* 添加图标的过渡效果 */
}

.nav-item span {
    font-size: 14px; /* 文字大小 */
    margin-top: 5px; /* 文字和图标之间的间距 */
    transition: transform 0.2s ease; /* 添加文字的过渡效果 */
}

/* 鼠标悬停时的样式 */
.nav-item:hover {
    background-color: #555; /* 悬停时的背景颜色 */
    transform: translateY(-5px); /* 使导航项向上位移5px */
}

.nav-item:hover i {
    transform: scale(1.1); /* 使图标稍微放大 */
}

.nav-item:hover span {
    transform: translateY(5px); /* 使文字向下位移5px */
}

/*-----------------------------------------------*/

/* styles.css */

/* 整体容器样式 */
.module-container {
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*height: 100vh;*/
}

/* 凸显效果和圆边效果 */
.highlight-box {
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

/* 轮播图样式 */
.swiper {
    width: 100%;
    height: 180px; /* 设置轮播图高度 */
    overflow: hidden;
    position: relative;
}

/* 轮播项样式 */
.slide-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 图片超链接样式 */
.slide-image a {
    display: block;
    width: 100%;
    height: 100%;
}

/*功能实现*/

/* Reset some default styles */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

/* Set a background color for the whole page */
body {
    /*background-color: #292929;*/
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
}

/* Container for centering content */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

/* Header styles */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 2px;
    color: #000;
}

.header-left h1 {
    padding-bottom: 3px;
    font-size: 22px;
    font-weight: bold;
}

.header-right .more-link {
    font-size: 13px;
    text-decoration: none;
    color: inherit; /* Inherit parent color (black) */
}

.header-right .more-link i {
    margin-left: 0;
}

/* Style the feature box */
.feature-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3px;
    padding: 10px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

/* Style the individual feature modules */
.feature {
    flex: 0 0 calc(33.33% - 10px); /* Three modules per row */
    text-align: center;
    padding: 5px;
    background-color: #fff;
    /*border-radius: 10px;*/
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);*/
    transition: transform 0.2s;
}

.feature:hover {
    transform: translateY(-5px);
}

/* Style the icons */
.feature i {
    font-size: 24px;
    color: #007bff;
}

/* Style the feature titles */
.feature h3 {
    margin-top: 5px;
    font-size: 12px; /* 缩小字体 */
    font-weight: bold;
    color: #000; /* 改为黑色 */
    text-align: center;
}

/* Remove border */
.feature {
    border: none; /* 去掉模块边框 */
}

@media screen and (max-width: 768px) {
    /* Responsive layout for screens up to 768px wide */
    .feature {
        flex: 0 0 calc(50% - 10px); /* Two modules per row */
    }
}

/* 新增的样式，确保在导航栏下方显示 */
#circle-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 30px 20px; /* 上下间距拉大一点 */
}
/*-------------------------------------------------------*/


.circle_emotional-analysis_01 {
    position: relative;
    width: 115px;
    height: 115px;
    /*background: linear-gradient(135deg, #f39c12, #e74c3c); !* 添加渐变效果 *!*/
    border: 5px solid #E34234; /* 外圈橙色，细一点 */
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    text-align: center;
    font-size: 18px; /* 调整字体大小 */
    color: black; /* 字体颜色白色 */
    cursor: pointer;
    margin-left: 33px;
    margin-top: 23px;
    margin-bottom: 15px;
    margin-right: 5px;
    user-select: none;
    overflow: hidden;

}

/*-------------------------------------------------------*/
.circle_emotional-analysis_02 {
    position: relative;
    width: 115px;
    height: 115px;
    /*background: linear-gradient(135deg, #f39c12, #e74c3c); !* 添加渐变效果 *!*/
    border: 5px solid #495A80; /* 外圈橙色，细一点 */
    border-radius: 50%;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     text-align: center;
    font-size: 18px; /* 调整字体大小 */
    color: black; /* 字体颜色白色 */
    cursor: pointer;
    margin-right: 33px;
    margin-bottom: 15px;
    margin-left: 5px;
    margin-top: 23px;
    user-select: none; /* 防止鼠标选中文本 */
}
/*-------------------------------------------------------*/
.circle_emotional-analysis_03 {
    position: relative;
    width: 115px;
    height: 115px;
    /*background: linear-gradient(135deg, #f39c12, #e74c3c); !* 添加渐变效果 *!*/
    border: 5px solid #ff8c00; /* 外圈橙色，细一点 */
    border-radius: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
    font-size: 18px; /* 调整字体大小 */
    color: black; /* 字体颜色白色 */
    cursor: pointer;
      margin-left: 33px;
      margin-top: 23px;
      margin-bottom: 15px;
      margin-right: 5px;
    user-select: none; /* 防止鼠标选中文本 */
}
/*-------------------------------------------------------*/
.circle_emotional-analysis_04 {
    position: relative;
    width: 115px;
    height: 115px;
    /*background: linear-gradient(135deg, #f39c12, #e74c3c); !* 添加渐变效果 *!*/
    border: 5px solid #f39c12; /* 外圈橙色，细一点 */
    border-radius: 50%;
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       text-align: center;
    font-size: 18px; /* 调整字体大小 */
    color: black; /* 字体颜色白色 */
    cursor: pointer;
       margin-right: 33px;
       margin-bottom: 15px;
       margin-left: 5px;
       margin-top: 23px;
    user-select: none; /* 防止鼠标选中文本 */
}
/*-------------------------------------------------------*/
.circle_emotional-analysis_05 {
    position: relative;
    width: 115px;
    height: 115px;
    /*background: linear-gradient(135deg, #f39c12, #e74c3c); !* 添加渐变效果 *!*/
    border: 5px solid #006650; /* 外圈橙色，细一点 */
    border-radius: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    font-size: 18px; /* 调整字体大小 */
    color: black; /* 字体颜色白色 */
    cursor: pointer;
        margin-left: 30px;
        margin-top: 23px;
        margin-bottom: 15px;
        margin-right: 0;
    user-select: none; /* 防止鼠标选中文本 */
}

.circle_emotional-analysis_07 {
    position: relative;
    width: 115px;
    height: 115px;
    /*background: linear-gradient(135deg, #f39c12, #e74c3c); !* 添加渐变效果 *!*/
    border: 5px solid #f39c12; /* 外圈橙色，细一点 */
    border-radius: 50%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          text-align: center;
    font-size: 18px; /* 调整字体大小 */
    color: black; /* 字体颜色白色 */
    cursor: pointer;
          margin-left: 0;
          margin-top: 23px;
          margin-bottom: 15px;
          margin-right: 28px;
    user-select: none; /* 防止鼠标选中文本 */
}


/*!* 内圈，用于放置Iconfont图标 *!*/
/*.circle::before {*/
/*    content: "\e601"; !* 通过content属性插入Iconfont的unicode编码 *!*/
/*    font-family: 'iconfont', serif; !* 设置Iconfont字体库 *!*/
/*    position: absolute;*/
/*    font-size: 30px; !* 调整Iconfont大小 *!*/
/*    color: #f39c12; !* 内圈颜色橙色，与外圈一致 *!*/
/*    line-height: 1; !* 避免内圈图标垂直居中 *!*/
/*}*/

/* 移除:hover样式，将动态效果交由JavaScript处理 */
/* 媒体查询，适应小屏幕 */
@media screen and (max-width: 600px) {
    #circle-container {
        padding: 10px; /* 调整容器的内边距 */
    }

    .circle {
        width: calc(40% - 10px);
    }
}

